<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".louisamenu"></activity>
        <activity android:name=".comebuymenu" />
        <activity android:name=".breakfastmenu" />
        <activity android:name=".muffinmenu" />
        <activity android:name=".deliveryandreport" />
        <activity android:name=".buffetmenu" />
        <activity android:name=".pastamenu" />
        <activity android:name=".menuJAVA" />
        <activity android:name=".MyDBHelper" />
        <activity
            android:name=".sqlite"
            android:label="@string/title_activity_sqlite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".slideimg" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>